@font-face {
  font-family: 'starholj';
  src: local('starholj'), url('./starholj.ttf') format('truetype');
}

@font-face {
  font-family: 'starjout';
  font-style: normal;
  font-weight: normal;
  src: local('starjout'), url('./starjout.ttf') format('truetype');
}

.starText {
  font-family: 'starjout';
}

.starYellow {
  color: #FFD700;
}

.cardHeight {
	height: 400px;
}